* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  direction: rtl;
  font-family: yekan;
}

@font-face {
  font-family: yekan;
  src: url("../fonts/Yekan/BYekan+.ttf");
  font-size: medium;
  font-weight: normal;
}

body {
  box-sizing: border-box;
}

.col-1 {
  width: 8.33%;
}

.col-2 {
  width: 16.66%;
}

.col-3 {
  width: 25%;
}

.col-4 {
  width: 33.33%;
}

.col-5 {
  width: 41.66%;
}

.col-6 {
  width: 50%;
}

.col-7 {
  width: 58.33%;
}

.col-8 {
  width: 66.66%;
}

.col-9 {
  width: 75%;
}

.col-10 {
  width: 83.33%;
}

.col-11 {
  width: 91.66%;
}

.col-12 {
  width: 100%;
}

/*---------------------------------------------------*/

header {
  border-top: 4px solid #18c8ce;
  position: relative;
}

header .container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin: 0px auto;
  margin: 40px auto 20px;
}

header .container #contextInfo {
  display: flex;
  gap: 10px;
}

header .container #searchBar {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: baseline;
  background-color: #ebebeb;
  border-radius: 35px;
}

header .container #searchBar > div {
  margin: 0px;
}

header .container #searchBar #sort {
  width: 21%;
}

header .container #searchBar #sort * {
  color: #5d6360;
  padding: 3px;
}

header .container #searchBar #sort span {
  padding-right: 3px;
}

header .container #searchBar #search {
  width: 80%;
  display: flex;
  align-items: center;
}

header .container #searchBar #search input {
  background-color: inherit;
  border: none;
  outline: none;
  height: 40px;
  font-size: 16px;
}

header .container #searchBar #search input::placeholder {
  color: #6c7ca2;
  font-size: 14px;
}

header .container #searchBar #search i {
  color: #6c7ca2;
  transition: 0.2s all;
}

header .container #searchBar #search div:hover i {
  color: #27c8dc;
}

header .container #logIn {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: baseline;
  background-color: #28a745;
  border-radius: 35px;
  padding: 10px;
  transition: 0.3s all;
}

header .container #logIn:hover {
  background-color: #218837;
}

header .container #logIn * {
  color: #fff;
}

header #contactInfo {
  display: flex;
  flex-direction: row;
  font-size: 14px;
  position: absolute;
  top: 0px;
  left: 60px;
}

header #contactInfo a {
  text-decoration: none;
  color: #000;
}

header #contactInfo a:visited {
  color: #000;
}

/*---------------------------------------------------*/

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f7f6f6;
  padding: 0px 40px;
  height: 60px;
  position: sticky;
  top: 0px;
  z-index: 1000;
  box-shadow: 0px 10px 14px rgba(0, 0, 0, 0.1);
}

nav div ul {
  list-style-type: none;
}

nav > div > ul > li {
  display: inline-block;
  padding-right: 15px;
  padding: 15px;
  border-top: 3px solid transparent;
  /* position: relative; */
}

nav > div > ul > li:hover {
  background-color: #fff;
  border-top: 3px solid #18c8d7;
}

nav div ul li i {
  transform: rotate(0deg);
  transition: 0.4s all;
}

nav div ul li:hover i {
  transform: rotate(180deg);
}

nav > div > ul > li:first-child {
  padding-right: 0px;
}

nav > ul > li > a,
nav i {
  color: #636363;
}

nav a {
  text-decoration: none;
}

nav ul > li > a:visited {
  color: #636363;
}

nav #icons {
  display: flex;
  align-items: center;
  gap: 20px;
}

nav #icons div {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

nav #icons div i {
  font-size: 25px;
  color: #5a5859;
  transition: 0.3s all;
}

nav #icons div:hover i {
  color: #27c8dc;
}

nav #icons div span {
  background-color: #27c8dc;
  color: #fff;
  border-radius: 50%;
  text-align: center;
  width: 14px;
  height: 14px;
  font-size: 10px;
  position: absolute;
  top: 11px;
  left: 12px;
}

.dropdown {
  display: none;
  /*should be flex*/
  justify-content: space-between;
  gap: 10px;
  width: 1200px;
  min-height: 300px;
  max-height: 400px;
  padding: 10px 20px;
  margin-top: 14px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

nav > div > ul > li:hover .dropdown {
  display: flex;
  position: absolute;
  right: 100px;
}

.dropdown > div {
  display: flex;
  flex-direction: column;
  padding-left: 20px;
  border-left: 1px solid #f2f2f2;
}

.dropdown > div:last-child {
  border-left: none;
  padding-left: 0px;
}

.dropdown > div > div {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.dropdown h3 {
  color: #34c8d6;
}

.dropdown ul {
  list-style-type: none;
}

.dropdown a,
.dropdown a:visited {
  color: #4f4f4f;
  padding-right: 5px;
  font-size: 14px;
  word-break: none;
}

.dropdown a:hover {
  color: #34c8d6;
}

/*---------------------------------------------------*/

main {
  background-color: #f4f5f9;
  padding: 80px;
}

main .container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0px auto;
  background-color: inherit;
  gap: 50px;
}

/*---------------------------------------------------*/

#wensiteIntro {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

#wensiteIntro img {
  width: 100%;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

#wensiteIntro > div {
  display: flex;
  justify-content: space-between;
}

#wensiteIntro > div > div {
  display: flex;
  align-items: center;
  padding: 10px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

#wensiteIntro > div > div i {
  color: #18c8d7;
  font-size: 30px;
  padding-left: 10px;
}

#wensiteIntro > div > div > div {
  padding-left: 30px;
}

#wensiteIntro > div > div > div span {
  font-size: 13px;
}

#wensiteIntro > div > div > div span:first-child {
  font-weight: 700;
}

/*---------------------------------------------------*/

main .container #product-category1 {
  display: grid;
  grid-template-columns: auto auto auto auto auto auto;
  grid-auto-rows: max-content;
  column-gap: 15px;
}

#product-category1 > div div:first-child img {
  width: 150px;
}

main .container #product-category2 {
  display: grid;
  grid-template-columns: auto auto auto auto auto;
  grid-auto-rows: max-content;
  column-gap: 15px;
}

#product-category1 > div,
#product-category2 > div {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  height: 100%;
  position: relative;
}

#product-category1 > div div:first-child,
#product-category2 > div div:first-child {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: #fff;
  border-radius: 15px;
  /* gap: 15px; */
  overflow: hidden;
  position: relative;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.productDropDown {
  background-color: #2db742;
  color: #fff;
  border-radius: 20px;
  padding: 10px;
  width: 80%;
  display: none;
  z-index: 1;
}

main .container div[id^="product"] > div div:first-child:hover {
  filter: blur(1px);
}

#product-category1 > div div:first-child:hover + .productDropDown,
#product-category2 > div div:first-child:hover + .productDropDown {
  background-color: #218837;
  position: absolute;
  transform: translate(-20px, 80px);
  display: block;
  width: 80%;
}

.productDropDown p {
  font-size: 14px;
}

main .container div[id^="product"] .percent-off {
  position: absolute;
  background-color: #ef5350;
  color: #fff;
  border-radius: 15px;
  padding: 7px;
  top: 10px;
  left: 10px;
}

main .container div[id^="product"] .price {
  display: flex;
  flex-direction: column;
}

main .container div[id^="product"] .price span:first-child {
  text-decoration: line-through;
  color: #c5c5c5;
  font-size: 14px;
}

main .container div[id^="product"] .price span:last-child {
  color: #7bcb8e;
}

#product-category2,
#product-category3 {
  padding: 40px 20px;
  background-color: #fff;
  border-radius: 15px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

#product-category3 {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
  border: 1px solid #facbca;
  padding: 20px 10px;
}

#product-category3 #instantRecemendation {
  text-align: center;
  padding-bottom: 10px;
}

#product-category3 div hr {
  animation: hr-animation 5s ease infinite;
}

@keyframes hr-animation {
  from {
    width: 0%;
  }

  to {
    width: 100%;
  }
}

#product-category3 > div:first-child {
  width: 100%;
}

#product-category3 > div:last-child {
  position: relative;
}

#product-category4 {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  position: relative;
}

#product-category4 > div:last-child {
  display: grid;
  grid-template-columns: auto auto auto auto auto;
  gap: 15px;
}

#product-category4 #title {
  display: flex;
  justify-content: center;
  background-color: transparent;
  box-shadow: none;
}

#product-category4 #title h2 {
  border-bottom: 3px solid #18c8ce;
  padding-bottom: 5px;
  display: inline-block;
}

#product-category4 > div:last-child > div > div:first-child {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fff;
  padding: 10px;
  border-radius: 15px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

#product-category4 > div:last-child > div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#product-category4 > div div:first-child {
  position: relative;
}

#product-category4 > div > div div:first-child:hover {
  filter: blur(1px);
}

#p4:hover + .productDropDown {
  background-color: #218837;
  position: absolute;
  transform: translate(0px, 50px);
  display: block;
  width: 65% !important;
}

#product-category4 > div > div div:hover + .productDropDown {
  background-color: #218837;
  position: absolute;
  transform: translate(0px, 80px);
  display: block;
  width: 13%;
}

.whatsup-contact {
  color: #fff;
  background-color: #2db742;
  padding: 15px;
  border-radius: 50%;
  text-align: center;
  font-size: 30px;
  position: fixed;
  left: 0px;
  bottom: 30px;
}

.go-to-top {
  color: #fff;
  background-color: rgba(0, 0, 0, 0.3);
  border: 6px;
  padding: 15px;
  font-size: 25px;
  position: fixed;
  right: 30px;
  bottom: 30px;
}

/*-------------------------------------------------*/
footer {
  display: flex;
  flex-direction: column;
  gap: 40px;
  background-color: #eceff1;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
}

footer #footerContainer {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin: 0px auto;
  background-color: inherit;
}

footer #footerContainer > div:not(:last-child) {
  border-bottom: 1px solid #cfd8dc;
  background-color: inherit;
}

footer > div:last-child {
  border-top: 4px solid #18c8ce;
  background-color: #fff;
}

footer #siteInfo {
  display: flex;
  justify-content: space-around;
  padding: 15px;
  background-color: inherit;
}

footer #siteInfo > div {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  background-color: inherit;
}

footer #siteInfo > div i {
  color: #4dc9cf;
  font-size: 35px;
  width: 60px;
  height: 60px;
  padding: 9px;
  text-align: center;
  border: 1px solid #cfd8dc;
  border-radius: 50%;
}

footer #footerContainer #footerNav {
  display: flex;
  justify-content: flex-start;
  gap: 60px;
}

footer #footerContainer #footerNav > img {
  border-radius: 15px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

footer #footerContainer #footerNav div {
  padding: 10px 5px;
  height: 200px;
  background-color: #f6f6f6;
}

footer #footerContainer #footerNav div p {
  text-align: center;
  color: black;
  padding: 5px;
}

footer #footerContainer #footerNav ul {
  list-style-type: none;
}

footer #footerContainer #footerNav i {
  padding-left: 2px;
}

footer #footerContainer #address {
  display: flex;
  justify-content: flex-start;
  gap: 100px;
}

#footer-rights div {
  margin: 0px auto;
}

#footer-rights div p {
  padding: 10px;
}
